body {
  height:100%;
  width:100%;
  margin: 0px;
  background-color: rgb(240,240,240);
}
img.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1; 
}

img.infoImage {
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  z-index: -1; 
}

td, th{
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2em;
  padding: 5px;
}

th,td:hover{background-color: #f5f5f5;}

table{
  width: 98%;
  background-color: white;
  border: 2px solid grey;
  border-radius: 5px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

.title{
  text-align: left;
  left: 15px;
  font-size: 2em;
  font-family: sans-serif;
  background-color: rgb(75, 150, 100);
  color: white;
  padding: 0px 0px 0px 25px;
}

.button{
  text-align: center;
  width: 7em;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 1.5em;
  font-family: sans-serif;
  background-color: rgb(64, 178, 153);
  color: white;

  border: solid rgb(64, 178, 153);
  border-width: 10px;
}

.buttonLink:link
{color: white;
text-decoration: none;}
.buttonLink:visited
{color: white;
text-decoration: none;}
a.buttonLink:hover 
{color: rgb(187, 214, 49);
text-decoration: underline;}
a.buttonLink:active
{color: rgb(187, 214, 49);
text-decoration: underline;}

.topBar{
  position: relative;
  background-color: rgb(75, 150, 100);
  color: white;
  border: solid rgb(75, 150, 100);
  border-width: 1px 0px;
}

div.infoBox{
  text-align: center;
  font-size: 1.3em;
  font-family: sans-serif;
  background-color: rgb(0, 112, 255);
  color: white;
  margin: 35px 30px 20px 30px;
  border: 10px solid rgb(0, 112, 255);
  border-radius: 5px;
}



div.email{
  text-align: center;
  font-size: 1.1em;
  font-family: sans-serif;
}

a.link:link {color: rgb(73, 183, 73);}
a.link:visited {color: rgb(187, 214, 49);}
a.link:hover {color: rgb(73, 183, 73);}
a.link:active {color: rgb(187, 214, 49);}

#map{
  width: 100%;
  position: absolute;
  top: 81px;
  bottom: 0px;
}
